{% extends 'base.html' %}
{% block content %}
    <h1>Current Basket</h1>
    <table>
        {% for b in basket %}
            <form action="{{ url_for('remove_from_basket') }}" method="post">
                <tr>
                    {% for key, val in b.items() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                    <div>{{basket}}</div>
                    <td>
                        <input type="hidden" name="pid" value="{{ b.PID }}">
                        <input type="hidden" name="bid" value="{{b.BID}}">
                        <input type="submit" value="Remove From Basket">
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>
        <form action="{{ url_for('prepare_purchase') }}" method="post"><input type="submit" value="Checkout"></form>
    <h1>Products</h1>
    <table>
        <tr>
            {% for key in products[0]  %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        {% for p in products %}
            <form action="{{ url_for('add_to_basket') }}" method="post">
                <tr>
                    {% for key, val in p.items() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                    <td>
                        <input type="hidden" name="pid" value="{{ p.PID }}">
                        <input type="submit" value="Add to Basket">
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>

    <table>
        <tr>
            {% for key in computers[0]  %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        {% for p in computers %}
            <form action="{{ url_for('add_to_basket') }}" method="post">
                <tr>
                    {% for key, val in p.items() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                    <td>
                        <input type="hidden" name="pid" value="{{ p.PID }}">
                        <input type="submit" value="Add to Basket">
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>
    <table>
        <tr>
            {% for key in printers[0]  %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        {% for p in printers %}
            <form action="{{ url_for('add_to_basket') }}" method="post">
                <tr>
                    {% for key, val in p.items() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                    <td>
                        <input type="hidden" name="pid" value="{{ p.PID }}">
                        <input type="submit" value="Add to Basket">
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>
    
{% endblock %}